.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .3);
  //background-color: rgba($color-black, .8);
  z-index: 2500;
  opacity: 0;   // ставим два свойства вместо дисплей нон так как их можем анимировать, у дисплей нон нет цифр сооветственно анимировать не получиться
  visibility: hidden;
  transition: all .3s;
  backdrop-filter: blur(10px);
  

  &__content {
    @include absCenter;
    width: 75%;

    background-color: $color-white;
    box-shadow: 0 2rem 4rem ($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden; // чтобы уголки картинок не закрывали скругления
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25); // повторяем еще раз сдвиг так как он у нас был выше в миксине
    transition: all .5s .2s;
  }
  &__left {
    width: 33.33333%;
    display: table-cell;
    
  }
  &__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2; // раскидывает текст на 2 колонки
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2; //линия между колонкаи

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; 
    hyphens: auto; // ставит переносы в тексте но должно стоять html lang
  


  }
  // Open states/ свойства для открытия окна
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content { // когда popup становится target мы стилизуем content
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }

  }
}
